<div class="user_show_container">
  <div class="user_information">
    <%= image_tag "quentin.png", class: "avatar avatar_show_user" %>
    <p class="nickname_user_show_user"><%= @user.nickname %></p>
    <%= link_to 'Modifier votre profil', edit_user_registration_path, class: "btn_user_show_modify btn btn-warning btn-lg" %>
    <div class="my-subscription">
      <h5 class="mb-5 text-center">Mes abonnements</h5>
      <div class="d-flex justify-content-around mb-2">
        <%= image_tag "netflix_logo.png", style: 'height:10vh'%>
        <%= image_tag "crunchyroll_logo.png", style: 'height:10vh'%>
      </div>
    </div>
  </div>
  <div class="watchlist_show_user">
    <h1 class="title_header_user_show">MA WATCHLIST</h1>
    <div class="card-grid-container">
      <% @watchlist.each do |watchlist_anime| %>
        <div class="card m-4">
          <a href="<%= anime_path(watchlist_anime.anime) %>">
            <div class="cards-img-container">
              <%= cl_image_tag watchlist_anime.anime.photo.key, class: "card-img" %>
            </div>
            <div class="card-description">
              <h1 class="title-card"><%= watchlist_anime.anime.title %></h1>
            </a>
            <div class="like-btn">
              <% if current_user != nil %>
                <%= link_to watchlist_anime_path(watchlist_anime), method: :delete do%>
                  <div class="like" data-like-state="1"></div>
                <% end %>
              <% end %>
            </div>
            <p class="category"><%= watchlist_anime.anime.category %></p>
            <p class="rating">
              <% watchlist_anime.anime.rating.times do  %>
                <i class="fas fa-star"></i>
              <% end %>
              <% watchlist_anime.anime.blank_stars.times do %>
                <i class="far fa-star"></i>
              <% end %>
              (<%= watchlist_anime.anime.vote %> votes)
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
