<div class="user_show_container">
  <div class="user_information">
    <%= image_tag "joseph.jpg", class: "avatar avatar_show_user" %>
    <p class="nickname_user_show_user"><%= @user.nickname %></p>
    <%= link_to 'Modifier votre profil', edit_user_registration_path, class: "btn_user_show_modify btn btn-primary btn-lg" %>
    <div class="my-infos">Mes informations</div>
    <div class="my-subscription">Mes abonnements</div>
  </div>

  <div class="watchlist_show_user">
    <h1 class="title_header_user_show">MA WATCHLIST</h1>
    <div class="card-grid-container">
    <% @watchlist.each do |watchlist_anime| %>
      <div class="card m-4">  
      <a href="<%= anime_path(watchlist_anime.anime) %>">
        <div class="cards-img-container">
          <%= cl_image_tag watchlist_anime.anime.photo.key, class: "card-img" %>
        </div>
        <div class="card-description">
          <h1 class="title-card"><%= watchlist_anime.anime.title %></h1>
          </a>
          <div class="like-btn">
            <% if current_user != nil %>
              <%= link_to watchlist_anime_path(watchlist_anime), method: :delete do%>
                <i class="fas fa-heart "></i>
              <% end %>
            <% end %>
          </div>
          <p class="category"><%= watchlist_anime.anime.category %></p>
          <p class="rating">
            <% watchlist_anime.anime.rating.times do  %>
              <i class="fas fa-star"></i>
            <% end %>
            <% watchlist_anime.anime.blank_stars.times do %>
              <i class="far fa-star"></i>
            <% end %>
            (<%= watchlist_anime.anime.vote %> votes)
          </p>   
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
