<div class="home_container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
    <div class="text-anim-top">ANIMES DU MOMENT</div>
      <div class="carousel-item">
        <%= image_tag('shingeki.jpg', alt: 'shingeki.jpg', class: 'img-carousel d-block w-80') %>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carouselle">L'attaque des titans</h1>
        </div>
      </div>
      <div class="carousel-item active">
        <%= image_tag('jujutsu_kaisen.png', alt: 'jujutsu_kaisen.png', class: 'img-carousel d-block w-80')%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carouselle">Jujutsu Kaisen</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('my_hero.png', alt: 'my_hero.png', class: 'img-carousel d-block w-80')%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carouselle">My Hero Academia</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('fire_force.png', alt: 'fire_force.png', class: 'img-carousel d-block w-80')%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carouselle">Fire Force</h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag('black_clover.jpeg', alt: 'black_clover.jpeg', class: 'img-carousel d-block w-80')%>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title-carouselle">Black Clover</h1>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>