<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="toggle" onclick="toggleMenu();">
    <i class="fas fa-bars"></i>
  </div>

  <ul class="menu">
    <li onclick="toggleMenu();"><%= link_to "Accueil", "/", style: "color: #DA4903", class: "menu_link" %></li>
    <li onclick="toggleMenu();"><%= link_to "Tableau de bord", "#", style: "color: #DA4903", class: "menu_link" %></li>
    <li onclick="toggleMenu();"><%= link_to "Ma watchlist", "#", style: "color: #DA4903", class: "menu_link" %></li>
    <li onclick="toggleMenu();"><%= link_to "Théories", "#", style: "color: #DA4903", class: "menu_link" %></li>
  </ul>

    <%= image_tag "4-stars-dragonball.png", class: "dragonball avatar" %>
    <h1 class="title">Jap'Animes</h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown hello-text">Hello <%= current_user.email %> !</li>
        <li class="nav-item dropdown">
          <%= image_tag "goku.png", class: "goku avatar dropdown-toggle", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item", style: "color: #DA4903" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  const menuToggle = document.querySelector(".toggle");
  const menuToggleIcon = document.querySelector(".toggle > i.fas")
  const menu = document.querySelector(".menu");
  const title = document.querySelector(".title");
  const dragonball = document.querySelector(".dragonball");

  function toggleMenu() {
    menuToggle.classList.toggle("active");
    menuToggleIcon.classList.toggle("fa-bars");
    menuToggleIcon.classList.toggle("fa-times");
    menu.classList.toggle("active");
    title.classList.toggle("active");
    dragonball.classList.toggle("active");
  }
</script>
