<div class="searchbar">
  <%= form_tag animes_path, class:"form-inline", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Trouvez votre animé"
    %>
    <%= select_tag 'animes', options_for_select(animes.pluck(:streaming_service).uniq), prompt: "Plateforme" %>
    <%= select_tag 'animes', options_for_select(animes.pluck(:category).uniq), prompt: "Catégorie" %>
    <%= submit_tag "Rechercher", class: "btn-nav" %>
  <% end %>
</div>