<div class="container-fluid">
  <div class="row">
    <%= render 'shared/banner' %>

    <div class="homepage">
      <h1>Une plateforme préférée ?</h1>
      <%= link_to image_tag('wakanim_logo.png', class: "wakanim-logo"), "#"%>
      <%= link_to image_tag('crunchyroll_logo.png', class: "crunchyroll-logo"), "#"%>
      <%= link_to image_tag('adn_logo.png', class: "adn-logo"), "#"%>
      <%= link_to image_tag('netflix_logo.png', class: "netflix-logo"), "#"%>

      <h1>Un style en particulier ?</h1>
      <ul>
        <li>
          <% @categories.each do |category| %>
            <%= category %>
          <% end %>
        </li>
      </ul>

      <h1>Indécis ? Voici la sélection du moment</h1>
      <%= render 'shared/carousel' %>
    </div>
  </div>
</div>
