<%= render 'shared/banner' %>
<h2 class="carousel-title">Indécis ? Laissez-nous vous inspirer !</h2>
<%= render 'shared/carousel' %>
<div class="vod">
  <h3>Choisissez en fonction de vos abonnements</h3>
  <div class="vod-choice">
    <%= link_to image_tag('wakanim_logo.png', class: "wakanim-logo"), "#"%>
    <%= link_to image_tag('crunchyroll_logo.png', class: "crunchyroll-logo"), "#"%>
    <%= link_to image_tag('adn_logo.png', class: "adn-logo"), "#"%>
    <%= link_to image_tag('netflix_logo.png', class: "netflix-logo"), "#"%>
  </div>
</div>
<div class="category">
  <h3>Recherchez par genre</h3>
  <ul class="category-choice">
    <li>
      <% @categories.each do |category| %>
        <span class="button-3d"><%= link_to "#{category}", "#", class: 'remove-deco' %></span>
      <% end %>
    </li>
  </ul>
</div>

