<%= render 'shared/banner' %>

<h2 class="choice-title">Indécis ? Laissez-nous vous inspirer !</h2>
<%= render 'shared/carousel' %>

<h2 class="choice-title">Rechercher par genre :</h2>
<ul class="category-choice">
  <li>
    <% @categories.each do |category| %>
      <a href="#" class="button-3d"><%= category %></a>
    <% end %>
  </li>
</ul>
  
<h2 class="choice-title">Choisissez en fonction de vos abonnements</h2>
<div class="vod-choice">
  <%= link_to image_tag('wakanim_logo.png', class: "wakanim-logo"), "#"%>
  <%= link_to image_tag('crunchyroll_logo.png', class: "crunchyroll-logo"), "#"%>
  <%= link_to image_tag('adn_logo.png', class: "adn-logo"), "#"%>
  <%= link_to image_tag('netflix_logo.png', class: "netflix-logo"), "#"%>
</div>
