<%= render 'shared/banner' %>
<h2 class="carousel-title">Indécis ? Laissez-nous vous inspirer !</h2>
<%= render 'shared/carousel' %>
<div class="vod">
  <h3>Choisissez en fonction de vos abonnements</h3>
  <div class="vod-choice">
    <% @streaming_services.each do |streaming_service| %> 
      <%= link_to animes_path(streaming_service: streaming_service) do %>
        <%= logo_streaming_service(streaming_service) %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="category">
  <h3>Recherchez par genre</h3>
  <ul class="category-choice">
    <li>
      <% @categories.each do |category| %>
        <span class="button-3d">
          <%= link_to "#{category}", animes_path(category: category), class: 'remove-deco' %>
        </span>
      <% end %>
    </li>
  </ul>
</div>
