<div class="container mt-5">
  <div class="search-index">
    <%= render 'shared/searchbar', animes: @animes %>
  </div>
  <% if params[:query].present? %>
    <h4>Résultat de la recherche : "<%= params[:query] %>"</h4>
  <% elsif  params[:category].present? %>
    <h4>Tous les animés dans la catégorie : "<%= params[:category] %>"</h4>
  <% elsif  params[:streaming_service].present? %>
    <h4>Tous les animés disponibles sur : "<%= params[:streaming_service] %>"</h4>
  <% end %>
  <p class="count_result"><%= @animes.count %> résultats</p>
  <div class="row">
    <% @animes.each do |anime| %>
      <div class="card m-4">
        <a href="<%= anime_path(anime) %>">
          <div class="cards-img-container">
            <%= cl_image_tag anime.photo.key, class: "card-img" %>
          </div>
          <div class="card-description">
            <h1 class="title-card"><%= anime.title %></h1>
          </a>
          <div class="like-btn">
            <% if current_user != nil %>
              <% if anime.in?(current_user.animes) %>
                <%= link_to watchlist_anime_path(WatchlistAnime.where(user_id: current_user.id, anime_id: anime.id).first), method: :delete, remote: true do%>
                  <div class="like" data-like-state="1"></div>
                <% end %>
              <% else %>
                <%= link_to anime_watchlist_animes_path(anime), method: :post, remote: true do%>
                  <div class="like" data-like-state="0"></div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <p class="category"><%= anime.category %></p>
          <p class="rating">
            <% anime.rating.times do  %>
              <i class="fas fa-star"></i>
            <% end %>
            <% anime.blank_stars.times do %>
              <i class="far fa-star"></i>
            <% end %>
            (<%= anime.vote %> votes)
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
