<body class="show_body"></body>

<div class="anime-show-container">

  <div class="image-anime-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @anime.photo.key, crop: :fill %>')">
  </div>

  <div class="anime-description-streaming-show">

    <div class="anime-info-show">

      <div class="anime-title-like-heart-show">
        <h1 class="anime-title-show"><%= @anime.title %></h1>

        <div class="like_heart">
          <% if current_user != nil %>
            <% if @anime.in?(current_user.animes) %>
              <%= link_to watchlist_anime_path(@watchlist), method: :delete do%>
                <i class="fas fa-heart fa-3x"></i>
              <% end %>
            <% else %>
              <%= link_to anime_watchlist_animes_path(@anime), method: :post do %>
                <i class="far fa-heart fa-3x"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="caret-description"></i></div>

      <p class=""><%= @anime.description %></p>

      <div class="anime-date-genre-note-show">
          <div class="note-globale-show-anime">
            <p class="title-colored mb-0">Note globale</p>
            <p class="rating">
                <% @anime.rating.times do  %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% @anime.blank_stars.times do %>
                  <i class="far fa-star"></i>
                <% end %>
            </p>   
          </div>  
          <div class="date-show-anime">
            <p class="title-colored mb-0">Date de diffusion</p>
            <p><%= @anime.parution_date %></p>
          </div>
          <div class="genre-show-anime">
            <p class="title-colored mb-0">Genre</p>
            <p><%= @anime.category %></p>
          </div>
      </div>
    </div>

        <div class="plateform-show-anime">
          <h2 class="anime-title-show">Disponible sur :</i></h2>
          <p class="streaming-service"><%= logo_streaming_service(@anime.streaming_service) %>
          <button class="btn btn-visualize btn-link">Visualiser</button>
          </p>
        </div>

  </div>
</div>


<div class="commentary-prediction-anime-show">
  <div class="container-onglets">
    <div class="onglets activeOnglet" data-anim="1">
      <h2 class="mb-4 text-secondary">Commentaires</h2>
    </div>
    <div class="onglets" data-anim="2">
      <h2 class="mb-4 text-secondary">Prédictions</h2>
    </div>
    <hr>
  </div>

  <div class="container-contenu-com-pred-section-anime-show activeContenu" data-anim="1">
    <ul>
      <li class="h5 mb-3"><span class="nickname text-secondary">Guillaume:</span><br> Un classique - indemodable </li>
      <li class="h5 mb-3"><span class="nickname text-secondary">Benjamin:</span><br> Toute mon enfance !</li>
      <li class="h5 mb-3"><span class="nickname text-secondary">Nicolas:</span><br> La base :) </li>
    </ul>
  </div>
  <div class="container-contenu-com-pred-section-anime-show" data-anim="2">
    <%= simple_form_for([ @anime, @review ]) do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.button :submit, class: 'btn' %>
    <% end %>
    <ul>
      <li class="h5 mb-3"><span class="nickname text-secondary">Jacqueline:</span><br> Dans le prochain épisode Sangoku et Vegeta vont s'avouer leurs sentiments </li>
      <li class="h5 mb-3"><span class="nickname text-secondary">Sherlock:</span><br> Il y va avoir un cross-over DeathNote et Tata c'est évident ! </li>
      <li class="h5 mb-3"><span class="nickname text-secondary">Sakura:</span><br> Et si Naruto était en fait mort depuis le début ? </li>
    </ul>
  </div>
  <%= simple_form_for([ @anime, @review ]) do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.button :submit %>
    <% end %>
</div>


<div class="card-product">
  <%= image_tag 'joseph.jpg' %>
  <div class="card-product-infos">
    <h2><%= current_user.nickname %> <span class="date_card_theory">(20/02/2021)</span></h2>
    <p>Le personnage mystère est <strong>Kakhashi</strong> c'est une certitude !</p>
  </div>
</div>

